@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-[#f9fafb] text-white;
  }

  input, textarea, select {
    @apply text-gray-900 bg-white;
  }
}